.app-container{
    display: flex;
}

.content{
    width:100%;
}

.sidebar{
    min-height: 800px;
}



.header svg{
    width: 23px;
    height: 23px;
}
.w-90{
    width: 90% !important;
}

.header ::placeholder{
    color: white !important;
}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin:  0rem 1rem 0rem 0rem;
}

.welcomemsg{
    margin: 100px 0px;
}


/* spinner */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }